@font-face {
    font-family: SansSerif;
    src: url(S.ttf);}

body {
    background-image: url("Notebook.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin: 50px auto;
    font-family: Chalkduster;
    font: normal 20px Chalkduster ms;
}

#tictactoe {
    border-collapse: separate;
    cell-spacing: 0px;
    margin: 30px auto;
    border-spacing: 0px;
}

#tictactoe td {
    border: 3px solid #801366;
    height: 100px;
    width: 100px;
    text-align: center;
    font-family: Chalkduster;
    font: bold 60px Chalkduster ms;
}

#tictactoe tr:first-child td {
    border-top: none
}

#tictactoe tr:last-child td {
    border-bottom: none
}

#tictactoe tr td:first-child {
    border-left: none;
}

#tictactoe tr td:last-child {
    border-right: none;
}

#tictactoe td.X {

    font-family: Chalkduster;
    font-size: 60px;
    color: #333;
}

#tictactoe td.O {
    font-family: Chalkduster;
    font-size: 60px;
    color: white;
}

#board .score {
    text-align: center;
    font-size: 40px
}

#board .score#player1 {
    font-family: Chalkduster;
    font-size: 50px;
    color: #333;
}

#board .score#player2 {
    font-family: Chalkduster;
    font-size: 50px;
    color: white;
}
.button {
    background-color: #9a14f0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button1 {
    background-color: #f0bed5;
    color: black;
    border: 2px solid black;
}
.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: black;
    color: white;
}

